@model IEnumerable<ORDERS_MVC.Models.Order_hist>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StatusId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateChange)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StatusId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateChange)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comment)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Order_histId }) |
            @Html.ActionLink("Details", "Details", new { id=item.Order_histId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Order_histId })
        </td>
    </tr>
}

</table>
